[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	ignore = dirty
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty
[submodule "bin/git-delete-merged-branches"]
	path = bin/git-delete-merged-branches
	url = https://github.com/kyanny/git-delete-merged-branches
	ignore = dirty
[submodule "zsh/z"]
	path = zsh/z
	url = https://github.com/rupa/z.git
	ignore = dirty
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = https://github.com/zsh-users/zaw.git
	ignore = dirty
[submodule "zsh/zsh-bundle-exec"]
	path = zsh/zsh-bundle-exec
	url = https://github.com/rhysd/zsh-bundle-exec
	ignore = dirty
[submodule "bin/git-open"]
	path = bin/git-open
	url = https://github.com/paulirish/git-open.git
